<div class="container">
    <div class="col-xs-3 col-md-4">
        <form class="form-inline" submit="vm.search">
            <fieldset class="form-group">
                <input type="text" class="form-control" placeholder="Search" ng-model="vm.searchText">
                <button type="submit" class="btn btn-default btn-sm">
                    <span class="glyphicon glyphicon-search" aria-hidden="true"></span>
                </button>
            </fieldset>
        </form>
        <div class="plant-list">
            <div ng-repeat="cat in vm.categories">
                <p ng-click="vm.toggleCat(cat)" class="panel-header">
                    {{ cat }} <span class="glyphicon glyphicon-collapse-down"></span></p>

            <div ng-repeat="plant in vm.plants | filter:vm.searchText track by plant.id">
                <div ng-if="(cat == plant.type && (plant.selected || plant.category))" class="checkbox" ng-click="vm.toggleOrder(plant.id)">
                    <label title="{{ plant.color_limits }}">
                        <input type="checkbox"
                                ng-model="vm.plants[ plant.id -1 ].selected">{{ plant.name }}
                    </label>
                </div>
            </div>
            </div>
        </div>
    </div>
    <div class="col-xs-9 col-md-8">
        <div class="panel col-xs-6 panel-default fixed-panel"
             ng-if="plant.selected"
             ng-repeat="plant in vm.plants">
            <div class="panel-heading row">
                <h3 class="panel-title">{{ plant.name }}</h3>
                <div class="col-xs-6">
                    <h5>{{ plant.type }} </h5>
                    <h4>{{ plant.sun }}</h4>
                    <h4>$ {{ plant.cost }} /each</h4>
                </div>
                <img src="https://carolynsshadegardensdotcom.files.wordpress.com/2011/05/dscn4164.jpg"
                     class="img-rounded pull-right" width="100" height="75">
                <h3 class="pull-right">
                    <label style="color:green">Total: </label>
                    ${{ plant.qty  * plant.cost }}</h3>
            </div>
            <div class="panel-body">
                <div ng-if="plant.limit">
                    <form>
                        <div class="form-group" ng-repeat="color in plant.colors">
                            <label class="form-control-static">{{ color }}</label>
                            <input class="form-control" type="text" placeholder="0">
                        </div>
                    </form>
                </div>
                <div ng-if="plant.color_preference && !plant.limit">
                    <input class="col-xs-9" type="text" placeholder="Color: Red, Pink, Etc...">
                    <input class="col-xs-3" type="text" defaultValue="1"
                           ng-model="plant.qty">
                </div>
                <div ng-if="!plant.color_preference">
                    <label for="qty{{ plant.id }}" class="col-xs-5">Qty:</label>
                    <input id="qty{{ plant.id }}" class="col-xs-7" type="text" defaultValue="1"
                           ng-model="plant.qty">
                </div>
            </div>
        </div>
    </div>
</div>
