<div class="container">
    <form ng-if="!loggedIn" class="form-inline pull-right" ng-submit="vm.login()">
        <fieldset class="form-group">
            <input type="email" class="form-control" placeholder="Email Address" ng-model="vm.creds.email">
        </fieldset>
        <fieldset class="form-group">
            <input type="password" class="form-control"  placeholder="Password" ng-model="vm.creds.password">
        </fieldset>
        <button class="btn btn-primary" ng-click="vm.register()">Register</button>
        <button type="submit" class="btn btn-primary">Sign In</button>
    </form>
</div>
