<div ng-controller="Account as account">
<div class="navbar">
    <div class="container-fluid">
        <div class="navbar-header">
            <div class="navbar-brand">
                <img src="http://www.naperville203.org/cms/lib07/IL01904881/Centricity/Template/GlobalAssets/images/logos/mustang.jpg"
                     alt="Mill Street Plant Sale">
            </div>
        </div>
        <form ng-if="!loggedIn" class="navbar-form navbar-right" ng-submit="account.login()">
            <fieldset class="form-group">
                <input type="email" class="form-control" placeholder="Email Address" ng-model="account.creds.email">
            </fieldset>
            <fieldset class="form-group">
                <input type="password" class="form-control" placeholder="Password" ng-model="account.creds.password">
            </fieldset>
            <button class="btn btn-primary" ng-click="account.register()"><span class="glyphicon glyphicon-user"></span>Register</button>
            <button type="submit" class="btn btn-primary">Sign In</button>
        </form>
        <form ng-if="loggedIn" class="form-inline pull-right" ng-submit="account.logout()">
            <label for="logout">{{ account.email }}</label>
            <button id="logout" type="submit" class="btn btn-primary">Sign Out</button>
        </form>
    </div>
</div>
</div>

