<div class="container">
    <h3>
        Total potential order amount to date: ${{ vm.saleTotal.toFixed(2) }}
    </h3>
    <h4>Paid amount: ${{ vm.paidTotal.toFixed(2) }}</h4>
    <div class="pull-right">
        Print
        <button onclick="window.print()"><i class="fa fa-print"></i>
        </button>
    </div>
    <div class="col-xs-12 container-fluid">
        <div class="col-xs-6 panel panel-default order-panel"
             ng-repeat="plant in vm.OrderManager.totals | orderBy:'name' track by $index">
            <div class="panel-body">
                <p> {{ plant.name }}</p>
                Quantity: {{ plant.qty }}
            </div>
        </div>
    </div>
    <div class="container">
        <h4>
            <div class="col-xs-5 col-md-4">Payment Status</div>
            <div class="col-xs-4 col-md-3">Email</div>
            <div class="hidden-xs col-sm-2">Last Updated</div>
            <div class="col-xs-1 col-md-1">Amt</div>
            <div class="col-xs-2 col-md-2">
            </div>
        </h4>
        <div ng-if="order.email" ng-repeat="order in vm.OrderManager.allOrders track by order.id">
            <div class="col-xs-5 col-md-4" ng-if="order.online">Paid Online</div>
            <div class="col-xs-5 col-md-4" ng-if="order.check">Paid by check {{ order.checkNumber }}</div>
            <span ng-if="!order.done">
            <div ng-if="!order.showCheckNumber" class="col-xs-5 col-md-4" ng-if="!order.done">Incomplete or sending
                check
                <button ng-click="order.showCheckNumber = true">Check Received</button>
            </div>
            <div ng-if="order.showCheckNumber" class="col-xs-5 col-md-4">
                <span ng-if="order.showCheckNumber">
                    <input type="text" ng-model="order.checkNumber">
                    <button ng-click="vm.acceptCheck(order)"><i class="fa fa-check-square-o"></i></button>
                    <button ng-click="order.showCheckNumber = false"><i class="fa fa-close"></i></button>
                </span>
            </div>
            </span>
            <div class="col-xs-4 col-md-3"> {{ order.email }}</div>
            <div class="hidden-xs col-sm-2"> {{ order.last_updated }}</div>
            <div class="col-xs-1"> ${{ order.total.toFixed(2) }}</div>
            <div class="col-xs-1">
                <button ng-click="vm.viewOrder(order)">View</button>
            </div>
        </div>
    </div>