<div class="container">
    <div ng-if="false" class="col-xs-hidden col-sm-3 col-md=5"  style="margin-left: 50px; position: absolute; top: 10px">Time Left to Order: {{ vm.timeRemaining }}</div>
    <div class="col-xs-3 col-md-4">
        <form class="form-inline" submit="vm.search">
            <fieldset class="form-group">
                <input type="text" class="form-control" placeholder="Search" ng-model="vm.searchText">
                <button type="submit" class="btn btn-default btn-sm">
                    <span class="glyphicon glyphicon-search" aria-hidden="true"></span>
                </button>
            </fieldset>
        </form>
        <div class="plant-list">
            <div ng-repeat="cat in vm.categories">
                <p title="{{ cat.mkt }}" ng-click="vm.toggleCat(cat.name)" class="panel-header">
                    <span class="glyphicon glyphicon-collapse-down"></span>{{ cat.name }}</p>

                <div ng-repeat="plant in vm.plants | filter:vm.searchText track by plant.id">
                    <div ng-if="(cat.name == plant.type && (plant.selected || plant.category))" class="checkbox"
                         ng-click="vm.toggleOrder(plant.id)">
                        <label title="{{ plant.color_limits }}">
                            <input type="checkbox"
                                   ng-model="plant.selected"
                                   ng-click="vm.toggleOrderItem(plant)">{{ plant.name }}
                        </label>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div ng-if="!vm.loggedIn" class="col-xs-9 col-md-8">
        <div class="row">
            <h3>Welcome to the Mill Street Elementary Plant Sale</h3>
            <p>MAKE CHECKS PAYABLE TO: MILL STREET HOME & SCHOOL ASSOCIATION</p>
            <p>ORDERS <b>DUE BACK BY FRIDAY, APRIL 8th</b>, 2016!</p>
            <p>Plant <b>pick-up is Sat. May 7</b>, 2016 from 10:00 AM - 12:00 PM in front of Mill St. School.</p>

            <p>**If you have any conflict with the pick up times, please contact
                Sarah (sarah at gibsonenvironmental.com) or Laura (laura.thorne at comcast.net) and we'll see if we can
                help!!**</p>

            <p>If you would like to VOLUNTEER to help on May 7th (unloading the truck & organizing the plants, etc.)
                anytime between 6:00am-12pm, please contact Sarah Hoag (sarah at gibsonenvironmental.com) or
                or Laura Thorne (laura.thorne at comcast.net) or let us know on your order. Even if you only have
                an hour or two, we'd appreciate your help. (Volunteers get first choice of their own and any extra
                plants!!)</p>
            <img class="pull-right" src="images/home_logo.png"/>

        </div>
    </div>
    <div class="col-xs-9 col-md-8">
        <h4 ng-if="vm.userDetails.$invalid">To start your order please provide name and phone details</h4>
        <div class="row" ng-if="vm.loggedIn">
            <form name="vm.userDetails" class="form-inline">
                <div class="form-group">
                    <label for="fullName">Name</label>
                    <input type="text" class="form-control" id="fullName" placeholder="Full Name"
                           ng-change="vm.updateUser()" ng-model-options="{debounce:1000}"
                           ng-model="vm.user.name" required>
                </div>
                <div class="form-group">
                    <label for="telephone">Phone</label>
                    <input type="tel" class="form-control" id="telephone" placeholder="xxx-xxx-xxxx"
                           ng-change="vm.updateUser()" ng-model-options="{debounce:1000}"
                           ng-model="vm.user.phone" required>
                </div>
                <div class="form-group">
                    <div class="checkbox">
                        <input type="checkbox"
                               ng-change="vm.updateUser()"
                               ng-model="vm.user.volunteer"><label>Volunteer</label>
                    </div>
                    <input ng-if="vm.user.volunteer" type="text"
                           class="form-control" id="fullName" placeholder="Unloading, organizing, etc..."
                           ng-change="vm.updateUser()" ng-model-options="{debounce:1000}"
                           ng-model="vm.user.times">
                </div>
                <span ng-if="vm.userDetails.$invalid"
                      class="btn btn-primary" ng-disabled="vm.userDetails.$invalid">View Cart</span>
                <a ng-if="!vm.userDetails.$invalid" class="btn btn-primary" href="/summary">View Cart</a></h2>
            </form>
        </div>
        <div class="row col-xs-12 my-card"
             ng-if="plant.selected"
             ng-repeat="plant in vm.plants track by plant.id">
            <div class="row">
                <div class="col-xs-2">
                    <img src="{{ plant.img_url }}"
                         class="img-rounded" width="100" height="75">
                </div>
                <div class="col-xs-8">{{ plant.name }} {{ plant.type }}
                    <div ng-if="plant.sun"><i class="fa fa-sun-o"></i> {{ plant.sun }}</div>
                    $ {{ plant.cost }} /each
                    <label class="notes" ng-if="plant.description">{{ plant.description }}</label>
                </div>
                <div ng-if="!plant.color_preference && !vm.userDetails.$invalid" class="col-xs-2 pull-right">
                    <label>Qty
                        <input id="qty{{ plant.id }}"
                               ng-change="vm.updateQty(plant)"
                               type="text"
                               ng-model="plant.qty">
                    </label>
                    <!-- <span class="btn btn-primary" ng-click="vm.updateQty(plant)">Update Cart</span> -->
                </div>
            </div>
            <div ng-if="!vm.loggedIn" class="panel-body">
                <h2>Please login to build your order</h2>
            </div>
            <div ng-if="vm.loggedIn && !vm.userDetails.$invalid">
                <div class="row" ng-if="plant.limit">
                    <div class="col-xs-4" ng-repeat="color in plant.colors">
                        <label>{{ color.free_color }}
                        <input type="text" ng-model="color.qty"
                               ng-change="vm.updateQty(color)"></label>
                    </div>
                    <label class="notes col-xs-6" ng-if="plant.notes">{{ plant.notes }}</label>
                </div>
                <div class="row" ng-if="plant.color_preference && !plant.limit">
                    <div class="col-xs-4 pull-right">
                        <input type="text" placeholder="Color: Red, Pink, Etc..."
                               ng-change="vm.updateColor(plant)"
                               ng-model="plant.free_color" />
                        <span class="col-xs-6 pull-right">
                        <input type="text"
                               ng-change="vm.updateQty(plant)"
                               ng-model="plant.qty"/>
                        </span>
                    </div>
                    <label class="notes col-xs-6" ng-if="plant.notes">{{ plant.notes }}</label>
                </div>

            </div>
        </div>
    </div>
</div>
