<div class="container">
    <div class="col-xs-3 col-md-4">
        <form class="form-inline" submit="vm.search">
            <fieldset class="form-group">
                <input type="text" class="form-control" placeholder="Search" ng-model="vm.searchText">
                <button type="submit" class="btn btn-default btn-sm">
                    <span class="glyphicon glyphicon-search" aria-hidden="true"></span>
                </button>
            </fieldset>
        </form>
        <div class="plant-list">
            <div ng-repeat="cat in vm.categories">
                <p title="{{ cat.mkt }}" ng-click="vm.toggleCat(cat.name)" class="panel-header">
                    <span class="glyphicon glyphicon-collapse-down"></span>{{ cat.name }}</p>

                <div ng-repeat="plant in vm.plants | filter:vm.searchText track by plant.id">
                    <div ng-if="(cat.name == plant.type && (plant.selected || plant.category))" class="checkbox"
                         ng-click="vm.toggleOrder(plant.id)">
                        <label title="{{ plant.color_limits }}">
                            <input type="checkbox"
                                   ng-model="plant.selected"
                                   ng-click="vm.toggleOrderItem(plant)">{{ plant.name }}
                        </label>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div ng-if="!vm.loggedIn" class="col-xs-9 col-md-8">
        <div class="row">
            <h3>Welcome to the Mill Street Elementary Plant Sale</h3>
            <p>MAKE CHECKS PAYABLE TO: MILL STREET HOME & SCHOOL ASSOCIATION</p>
            <p>ORDERS <b>DUE BACK BY FRIDAY, APRIL 8th</b>, 2016!</p>
            <p>Plant <b>pick-up is Sat. May 7</b>, 2016 from 10:00 AM - 12:00 PM in front of Mill St. School.</p>

            <p>**If there is something you want that is not listed here or have any conflict with the pick up times,
                please contact
                Sarah (sarah at gibsonenvironmental.com) or Laura (laura.thorne at comcast.net) and we'll see if we can
                help!!**</p>

            <p>If you would like to VOLUNTEER to help on May 2nd (unloading the truck & organizing the plants, etc.)
                anytime between 6:00am-12pm, please contact Sarah Hoag (sarah at gibsonenvironmental.com) or
                or Laura Thorne (laura.thorne at comcast.net) or let us know on your order. Even if you only have
                an hour or two, we'd appreciate your help. (Volunteers get first choice of their own and any extra
                plants!!)</p>
            <img class="pull-right" src="images/home_logo.png"/>

        </div>
    </div>
    <div class="col-xs-9 col-md-8">
        <div class="row" ng-if="vm.loggedIn">
            <form name="userDetails" class="form-inline">
                <div class="form-group">
                    <label for="fullName">Name</label>
                    <input type="text" class="form-control" id="fullName" placeholder="Full Name"
                           ng-change="vm.updateUser()" ng-model-options="{debounce:1000}"
                           ng-model="vm.user.name" required>
                </div>
                <div class="form-group">
                    <label for="telephone">Phone</label>
                    <input type="tel" class="form-control" id="telephone" placeholder="xxx-xxx-xxxx"
                           ng-change="vm.updateUser()" ng-model-options="{debounce:1000}"
                           ng-model="vm.user.phone" required>
                </div>
                <div class="form-group">
                    <div class="checkbox">
                        <input type="checkbox"
                               ng-change="vm.updateUser()"
                               ng-model="vm.user.volunteer"><label>Volunteer</label>
                    </div>
                    <input ng-if="vm.user.volunteer" type="text"
                           class="form-control" id="fullName" placeholder="Unloading, organizing, etc..."
                           ng-change="vm.updateUser()" ng-model-options="{debounce:1000}"
                           ng-model="vm.user.times">
                </div>
            </form>
            <span class="pull-right">

            <h2 class="">Total order cost: ${{ vm.getRunningTotal().toFixed(2) }}
                <span ng-if="userDetails.$invalid"
                      class="btn btn-primary" ng-disabled="userDetails.$invalid">Summary View and Checkout</span>
                <a ng-if="!userDetails.$invalid" class="btn btn-primary" href="/summary">Summary View and Checkout</a></h2>
            </h2>
            </span>
        </div>
        <div class="panel col-xs-6 panel-default fixed-panel"
             ng-if="plant.selected"
             ng-repeat="plant in vm.plants">
            <div class="panel-heading row">
                <h3 class="panel-title">{{ plant.name }}</h3>
                <div class="col-xs-6">
                    <h5>{{ plant.type }} </h5>

                    <h4 ng-if="plant.sun"><i class="fa fa-sun-o"></i> {{ plant.sun }}</h4>
                    <h4>$ {{ plant.cost }} /each</h4>
                </div>
                <img src="{{ plant.img_url }}"
                     class="img-rounded pull-right" width="100" height="75">
                <h3 class="pull-right">
                    <label style="color:green">Total: </label>
                    ${{ vm.getTotal(plant) }}</h3>
            </div>
            <div ng-if="!vm.loggedIn" class="panel-body">
                <h2>Please login to build your order</h2>
            </div>
            <div ng-if="vm.loggedIn" class="panel-body">
                <div ng-if="plant.limit">
                    <div ng-repeat="color in plant.colors">
                        <input class="col-xs-9" type="text" value="{{ color.free_color }}" disabled>
                        <input class="col-xs-3" type="text" ng-model="color.qty"
                               ng-change="vm.updateQty(color)" ng-model-options="{debounce:1000}"
                               placeholder="0">
                    </div>
                    <label class="notes" ng-if="plant.notes">{{ plant.notes }}</label>
                </div>
                <div ng-if="plant.color_preference && !plant.limit">
                    <input class="col-xs-9" type="text" placeholder="Color: Red, Pink, Etc..."
                           ng-change="vm.updateColor(plant)" ng-model-options="{debounce:1000}"
                           ng-model="plant.free_color">
                    <input class="col-xs-3" type="text" defaultValue="1"
                           ng-change="vm.updateQty(plant)" ng-model-options="{debounce:1000}"
                           ng-model="plant.qty">
                    <label class="notes" ng-if="plant.notes">{{ plant.notes }}</label>
                </div>
                <div ng-if="!plant.color_preference">
                    <label for="qty{{ plant.id }}" class="col-xs-5">Qty:</label>
                    <input id="qty{{ plant.id }}" class="col-xs-7" type="text" defaultValue="1"
                           ng-change="vm.updateQty(plant)" ng-model-options="{debounce:1000}"
                           ng-model="plant.qty">
                    <label class="notes" ng-if="plant.description">{{ plant.description }}</label>
                </div>
            </div>
        </div>
    </div>
</div>
