.fixed-panel {
  min-height: 300px;
  max-height: 300px;
  overflow-y: scroll;
}
.order-panel{
  height: 85px;
  overflow-y: hidden;
}
.plant-list{
  min-height: 800px;
  max-height: 800px;
  overflow-y: scroll;
}
.notes{
  color:blue;
  margin-top: 15px;
  font-weight: normal;
}